.genders-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.genders-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.genders-list > a{
  padding: 4px 6px;
  font-weight: 700;
}
.genders-list > a:hover{
  background-color: antiquewhite;
  border-radius: 4px;
  color: black;
  font-weight: 900;
}
