.header{
  height: 60px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: sticky;
  z-index: 50;
  width: 100%;
  background-color: var(--background-color);
  top: 0;
}

a, a:visited{
  text-decoration: none;
  color: var(--text-grey-color);
}
.header > h3{
  font-size: 1.8rem;
}

.links-container{
  display: flex;
  gap: 15px;
  align-items: center;
  color: var(--text-grey-color);
}

.link-item > p{
  font-size: 1rem;
}

.link-item--container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-item--container > img{
  width: 20px;
  height: 20px;
}
.link-item--info{
  position: relative;
  margin: 0 8px ;
  padding: 5px 0;

}

.link-item--info:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--text-grey-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.link-item--info:hover:before {
  visibility: visible;
  transform: scaleX(1);
}