.header{
  height: 60px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

a, a:visited{
  text-decoration: none;
  color: var(--text-grey-color);
}
.header > h3{
  font-size: 1.8rem;
}

.links-container{
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--text-grey-color);
}

.search-container {
  display: flex;
  border-radius: 20px;
  border: 3px solid var(--input-color);
  width: 30px;
  height: 30px;
  overflow: hidden;
  position: relative;
  align-items: center;
  gap: 4px;
  transition: .5s;
}

.search-container > img{
  /* margin: 0 4px; */
  height: 100%;
  cursor: pointer;
}

.search-container > input{
  display: none;
}

.search-open--true{
  width: 250px;
  transition: 2s;
}

.input-open--true{
  display: flex !important;
  transition: 2s;
  background-color: transparent;
  border: none;
  outline: none;
  width: 180px;
}

.close-input--true{
  display: table-cell;
  position: absolute;
  right: 10px;
  vertical-align:text-top;
  margin-bottom: 3px;
  cursor: pointer;
  z-index: 100;
}

.close-input--false{
  display: none;
}
