.header{
  height: 60px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

a, a:visited{
  text-decoration: none;
  color: var(--text-grey-color);
}
.header > h3{
  font-size: 1.8rem;
}

.links-container{
  display: flex;
  gap: 15px;
  align-items: center;
  color: var(--text-grey-color);
}

/* height: 20px; */
.link-search{
  background-color: transparent;
  display: flex;
  border: none;
  /* align-items: center; */
  gap: 8px;
  margin: 5px;
}

.link-search > p{
  font-size: 1rem;
}

.link-search:hover{
  /* out-bottom: ; */
  border-bottom: 1px solid white;
  border-radius: 2px;

}

/* .link-search:hover{
  text-decoration: ;
} */

/* CODIGO PARA CREAR UN INPUT ANIMADO CON TRASICIONES - NO ESTA EN USO */

/* .search-container  {
  display: flex;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  padding: 15px 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  gap: 10px;
  transition: 1s;
}

.search-button >img{
  height: 25px;
}

.search-button{
  width: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.search-container > input{
  display: none;
}

.search-open--true{
  width: 250px;
  transition: 1s;
  border: 2px solid var(--input-color);
}

.search-open--false{
  padding: 0;
}

.input-open--true{
  display: flex !important;
  transition: 2s;
  background-color: transparent;
  border: none;
  outline: none;
  width: 180px;
}

.close-input--true{
  display: table-cell;
  position: absolute;
  right: 10px;
  vertical-align:text-top;
  margin-bottom: 3px;
  cursor: pointer;
  z-index: 100;
}

.close-input--false{
  display: none;
}

@media (max-width: 450px) {
  .header{
    justify-content: end;
  }
  .header > a{
    display: none;
  }